<template>
  <section class="pt-3">
    <div class="container-fluid">
      <div class="row px-3">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12">
              <h5 class="text-center">Счётчик Гейгера</h5>
            </div>
            <div class="col-12">
              <LabCanvas ref='canvas'></LabCanvas>
            </div>
            <div class="col-12 d-flex flex-wrap">
              <button v-for="(data, index) in $parent.datas" :disabled="(data.check == 1) || (fon.data === null)" @click="getData(data.name)" class="btn btn-secondary mt-2 flex-fill" :class="!index  ? 'ml-0 mr-1' : 'mx-1'">{{ data.name }} </button>
              <button  @click="getFon()" :disabled="fon.data !== null" class="btn btn-secondary mt-2 flex-fill">Вычислить фон </button>
            </div>
            <transition name="fade" appear  mode="out-in">
              <div v-if="saltTest >= 4" class="col-12 mt-1" style="position: relative">
                <hr>
                <p class="text-center" style="text-indent: 0px">Выбирите одну соль для дальнейшей работы</p>
                <ChartSalt></ChartSalt>
              </div>
            </transition>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-12 col-text" style="border-bottom: none;">
              <div class="custom-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="">
                        Число <br> пластин <br> n
                      </th>
                      <th scope="">
                        Толщина <br> пластин <br> D, мм
                      </th>
                      <th scope="">
                        Толщина <br> поглотителя x, мм
                      </th>
                      <th scope="">
                        Nф имп./мин
                      </th>
                      <th scope="">
                        N* имп./мин
                      </th>
                      <th scope="">
                        N=(N*-Nф) имп./мин
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(col, index) in data.Ng">
                      <td scope="row">{{index}}</td>
                      <td>0.11</td>
                      <td>{{0.11*index}}</td>
                      <td>{{fon.data}}</td>
                      <td class="form-group">
                        <input type="text" class="form-control p-0" v-model="AnswerData.Ng[index]" placeholder="Введите N*">
                      </td>
                      <td class="form-group">
                        <input type="text" class="form-control p-0" v-model="AnswerData.N[index]" :placeholder="helpN(index)">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="alert alert-success" v-if="msg[0] === 1" role="alert">
                {{msg[1]}}
              </div>

              <div class="alert alert-danger" v-if="msg[0] === 0" role="alert">
                {{msg[1]}}
              </div>

              <transition name="fade" appear  mode="out-in">
                <div class="col-12" v-if="saltTest >= 4">
                  <div class="form-group row" >
                    <label for="" class="col-lg-1 col-md-2 col-form-label pr-0">P<sub>Al</sub> = </label>
                    <span class="col-form-label">2.7 г / см<sup>3</sup></span>
                  </div>
                  <div class="form-group row" >
                    <label class="col-lg-1 col-md-2 col-form-label pr-0">X<sub>1/2</sub> = </label>
                    <div class="col-lg-5 col-md-7">
                      <input type="text" v-model="X" class="form-control" :disabled="saltTest >= 5 || NameSalt !== 'KCl' && NameSalt !== 'K2CrO4'">
                    </div>
                    <span>см</span>
                  </div>
                  <div class="form-group row" >
                    <label class="col-lg-1 col-md-2 col-form-label pr-0">u = </label>
                    <div class="col-lg-5 col-md-7">
                      <input type="text" v-model="u" class="form-control" :disabled="saltTest >= 5 || NameSalt !== 'KCl' && NameSalt !== 'K2CrO4'">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-1 col-md-2 col-form-label pr-0">M = </label>
                    <div class="col-lg-5 col-md-7">
                      <input type="text" v-model="M" class="form-control" :disabled="saltTest >= 5 || NameSalt !== 'KCl' && NameSalt !== 'K2CrO4'">
                    </div>
                    <span>см<sup>3</sup> / г</span>
                  </div>
                </div>
              </transition>

              <div class="d-flex flex-wrap">
                <button class="btn btn-primary flex-fill mr-1 mt-1" data-toggle="modal" data-target=".bd-example-modal-lg">Открыть теорию</button>
                <!--<button class="btn btn-danger" @click="undisableButtons()">Undis But</button>-->
                <button class="btn btn-success flex-fill mr-1 mt-1" @click="checkAnswer()" :disabled="saltTest >= 5">Проверка результатов</button>
                <button class="btn btn-primary flex-fill mt-1 mr-1" @click="saveProtocol()" :disabled="saltTest <= 4 || saltTest === 6">Сохранить протокол</button>
                <button class="btn btn-danger flex-fill mt-1" @click="goToFio()">Назад</button>
                <input type="file" nwsaveas="lab52" hidden id="savefile" accept=".lab"/>
              </div>
            </div>
            <div class="col-12" style="border-left: 2px solid #d8d8d8; height: 70vh; overflow-x: hidden; overflow-y: auto">
              <h3 class="text-center">
                <strong>Алгоритм пользования программой</strong>
              </h3>
              <ol>
						    <li> Приступайте к выполнению лабораторной работы только после того, как изучите теоритический материал по данной работе, нажав на кнопку "Открыть теорию". </li>
    						<li> Затем, вам необходимо вычислить и радиоактивный фон (радиацию, не связанную с радиоактив­ным препаратом) N<sub>Ф</sub>, нажав на кнопку "Вычислить фон". Значение фона автоматически зафиксируется в расчетной таблице в последующих действиях.</li>
    						<li> Далее выберите радиоактивный препарат, который вы поместите на счетчик Гейгера, и нажмите на кнопку "Запустить". Дождитесь завершения опыта, и зафиксируйте полученное значение в соответствующую колонку в таблице (N<sup>*</sup> имп./мин), и затем вычислите значение для последней колонки таблицы (N=(N<sup>*</sup>-N<sub>ф</sub>) имп./мин). Для продолжения серии опытов - нажмите на кнопку "Сбросить".</li>
    						<li> После окончания серии опытов - проверьте свои вычисления, нажав на кнопку "Проверка результатов". </li>
    						<li> Вернитесь к 3-му пункту и проделайте следующую серию опытов и для остальных солей: 
    							<ol>
    								<li> Для KCl - провердите серию из 7-ми опытов</li>
    								<li> Для Kj - провердите серию из 3-ех опытов</li>
    								<li> Для KMnO<sub>4</sub> - провердите серию из 2-ух опытов</li> 
    								<li> Для K<sub>2</sub>CrO<sub>4</sub> - проведите серию из 5-ти опытов</li>
    							</ol>
    							
    						 </li>
    						 <li> По окончанию всех опытов вам необходимо выбрать одну из солей для дальшнейшей работы (в левой части экрана снизу). Используя появившийся график - необходимо вычислить значения для X<sub>1/2</sub>, u, M.</li>
    						<li> В случае, если работа была выполнена без ошибок - сохраните проделанную работу, воспользовавшись кнопкой "Сохранить протокол". Данный протокол необходимо продемонстрировать вашему преподавателю.</li>
              </ol>
              <img src="../../static/geyger.jpg" class="col-md-6 col-xs-12 offset-md-3 pb-3" alt="">
              <p class="text-center">Счётчик Гейгера</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
     <!--Методичка в окне -->
    <Met></Met>
  </section>
</template>

<script>
import LabCanvas from './canvas/LabCanvas.vue'
import Met from './Met.vue'
import ChartSalt from './canvas/ChartSalt'
// var crypto = require('crypto');
// import crypto from 'crypto'
export default {
  name: 'lab',
  data: function () {
    return {
      data: {}, // Данные по выбранной соли
      disableButtons: [], // Массив имён солей для проверка при undisableButtons
      NgForCanvas: [], // массив N* для канваса
      AnswerData: { // Обьект массивов для снятия данных с таблицы
        Ng: [],
        N: []
      },
      errorsCheck: 0,
      msg: [],
      saltTest: 0,
      fon: {
        check: 0,
        data: null
      },
      NameSalt: null,
      X: '',
      u: '',
      M: '',
      errorsTwoTask: 0,
      ChekedButonCanvas: 0
    }
  },
  components: {
    ChartSalt,
    LabCanvas,
    Met
  },
  mounted () {
    this.data = {} // Данные по выбранной соли
    this.disableButtons = [] // Массив имён солей для проверка при undisableButtons
    this.NgForCanvas = [] // массив N* для канваса
    this.AnswerData = { // Обьект массивов для снятия данных с таблицы
      Ng: [],
      N: []
    }
    this.errorsCheck = 0
    this.msg = []
    this.saltTest = 0
    this.fon = {
      check: 0,
      data: null
    }
    this.NameSalt = null
    this.X = ''
    this.u = ''
    this.M = ''
    this.errorsTwoTask = 0
    this.ChekedButonCanvas = 0
    this.saltTest = 0
    for (let i = 0; i < 4; i++) {
      this.$parent.datas[i].errors = 0
      this.$parent.datas[i].check = 0
    }
  },
  methods: {
    goToFio () {
      this.$router.push({ path: '/' })
    },
    getData (name) {
      this.data = {}
      this.msg = []
      this.NgForCanvas = []
      let self = this
      this.$parent.datas.forEach(function (d) {
        if (d.name === name) {
          self.data = d
          self.disableButtons.push(d.name)
          self.data.Ng.forEach(function (Ng) {
            self.NgForCanvas.push(Number(Ng))
          })
        }
        d.check = 1
      })
      this.NameSalt = name
      this.fon.check = 1
      this.$refs.canvas.updateNg()
    },
    checkAnswer () {
      let self = this
      this.msg = []
      if (this.saltTest >= 4) {
        console.log(this.NameSalt)
        if (this.NameSalt === 'KCl') {
          if (Number(this.X) <= 0.02 && Number(this.X) >= 0.012 && Number(this.u) <= 57.75 && Number(this.u) >= 34.65 && Number(this.M) <= 21.3 && Number(this.M) >= 12.8) {
            this.msg[0] = 1
            this.msg[1] = 'Работа выполнена. Сохраните протокол'
            this.saltTest = 5
          } else {
            this.msg[0] = 0
            this.msg[1] = 'Допущена ошибка'
            this.errorsTwoTask++
          }
        } else if (this.NameSalt === 'K2CrO4') {
          if (Number(this.X) <= 0.025 && Number(this.X) >= 0.017 && Number(this.u) <= 40.7 && Number(this.u) >= 27.72 && Number(this.M) <= 15.07 && Number(this.M) >= 10.26) {
            this.msg[0] = 1
            this.msg[1] = 'Работа выполнена. Сохраните протокол'
            this.saltTest = 5
          } else {
            this.msg[0] = 0
            this.msg[1] = 'Допущена ошибка'
            this.errorsTwoTask++
          }
        }
      } else {
        this.errorsCheck = 0
        this.AnswerData.Ng.forEach(function (Ng) {
          if (!self.data.Ng.includes(Number(Ng))) {
            self.errorsCheck++
          }
        })
        this.AnswerData.N.forEach(function (N) {
          if (!self.data.N.includes(Number(N))) {
            self.errorsCheck++
          }
        })
        if (this.data.name === undefined) {
          this.msg[0] = 0
          this.msg[1] = 'Вы не выбрали соль'
        } else if (this.AnswerData.N.length !== this.data.N.length && this.AnswerData.Ng.length !== this.data.Ng.length) {
          this.msg[0] = 0
          this.msg[1] = 'Вы не ввели данные'
        } else if (this.errorsCheck !== 0) {
          this.msg[0] = 0
          this.msg[1] = 'Допустили ' + this.errorsCheck + ' ошибок'
          this.data.errors += this.errorsCheck
        } else {
          this.saltTest++
          this.msg[0] = 1
          this.msg[1] = 'Ошибок нет'
          this.undisableButtons()
          this.data = {}
          this.$refs.canvas.logNg = null
          this.AnswerData = { // Обьект массивов для снятия данных с таблицы
            Ng: [],
            N: []
          }
        }
        if (this.saltTest === 4) {
          this.NameSalt = null
        }
      }
    },
    undisableButtons () {
      let self = this
      this.$parent.datas.forEach(function (d) {
        if (self.disableButtons.includes(d.name)) {
          d.check = 1
        } else {
          d.check = 0
        }
      })
    },
    helpN (index) {
      return 'N' + (index + 1)
    },
    saveProtocol () {
      var crypto = require('crypto')
      var algorithm = 'aes-256-ctr'
      var password = 'd6F3Efeq'
      var cipher = crypto.createCipher(algorithm, password)
      console.log(crypto)
      let protocol = []
      protocol[0] = 'lab52_1.0'
      protocol[1] = this.$parent.datas[0] // Первая соль
      protocol[2] = this.$parent.datas[1] // Вторая соль
      protocol[3] = this.$parent.datas[2] // Третья соль
      protocol[4] = this.$parent.datas[3] // Четвёртая соль
      protocol[5] = {
        name: this.$parent.name,
        group: this.$parent.group
      }
      protocol[6] = {
        X: this.X,
        u: this.u,
        M: this.M,
        NameSalt: this.NameSalt,
        errorsTwoTask: this.errorsTwoTask
      }
      protocol = JSON.stringify(protocol)
      var crypted = cipher.update(protocol, 'utf8', 'hex')
      crypted += cipher.final('hex')
      protocol = crypted
      let fs = require('fs')
      let self = this
      let chooser = document.querySelector('#savefile')
      chooser.click()
      chooser.addEventListener('change', function (evt) {
        fs.writeFile(this.value, protocol, (err) => {
          if (err) throw err
          self.saltTest = 6
          self.msg[0] = 1
          self.msg[1] = 'Протокол сохранён'
        })
      })
    },
    getFon () {
      this.fon.data = 2.1
      this.$refs.canvas.startAnimation(this.fon.data, 0, null)
    }
  }
}
</script>
