<template>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Квантовая физика</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-5">
          <h2 class="text-center">Лабораторная работа №52</h2>
          <h5 class="text-center">
            <strong>«Изучение бета - распада»</strong>
          </h5>
          <p>
            <strong>Цель работы:</strong>
          </p>
          <ol>       
            <li>Определение коэффициентов поглощения β – излучения для меди и алюминия.</li>
            <li>Определение граничной энергии бета - спектра.</li>
            <li>Определение концентрации калия в солях радиометрическим методом.</li>     
          </ol>
          <p><strong>Приборы и принадлежности: </strong> счетчик Гейгера с регистрирующей радиоэлектронной аппаратурой (радиометр), радиоактивный калий <i class="formula">K<sup>40</sup><sub>19</sub></i> в соединениях, набор пластин из меди и алюминия, микрометр, секундомер.</p>
            
          <h5 class="text-center text-uppercase">
            <strong>Теоретическое введение</strong>
          </h5>
          <br>
          <h6 class="text-center text-uppercase">
            <strong>Радиоактивность. B - распад</strong>
          </h6>
          <p><strong>Радиоактивность</strong> - явление самопроизвольного превращения одних ядер в другие с испусканием различных частиц. Была открыта в1896 г. французским физиком Анри Беккерелем при изучении солей урана.</p>
          <p>Дальнейшие опыты показали, что радиоактивность не связана с воздействиями, которые приводят к изменению электронной оболочки атома, а обусловлены только структурой его ядра.</p>
          <p><strong>Радиоактивный распад</strong> - радиоактивное (самопроизвольное) пре­вращение исходного (материнского) ядра в новые (дочерние) ядра. Радиоактивный распад бывает: A -, B - распад и Y - из­лучение. Эта работа посвящена B - распаду.</p>
          <p>Термин «бета – распад» обозначает три вида ядерных превращений: <i>электронный B<sup>-</sup> -распад, позитронный B<sup>+</sup>-распад и электронный захват (К-захват).</i></p>
				  <p><strong>Электронный B<sup>-</sup>-распад</strong> – спонтанное превращение радиоактивного ядра в новое ядро с испусканием электрона и антинейтрино. </p>
				  <p>Термин «бета – распад» обозначает три вида ядерных превращений: <i>электронный B<sup>-</sup> -распад, позитронный B<sup>+</sup>-распад и электронный захват (К-захват).</i></p>
				  <p><strong>Электронный B<sup>-</sup>-распад</strong> – спонтанное превращение радиоактивного ядра в новое ядро с испусканием электрона и антинейтрино. </p>
				  <p>Термин «бета – распад» обозначает три вида ядерных превращений: <i>электронный B<sup>-</sup> -распад, позитронный B<sup>+</sup>-распад и электронный захват (К-захват).</i></p>
				  <p><strong>Электронный B<sup>-</sup>-распад</strong> – спонтанное превращение радиоактивного ядра в новое ядро с испусканием электрона и антинейтрино. </p>
          
          <img src="../../static/images/1.png" alt="" class="center-block" width="200px" height="auto"> 
				  <p>Пример B<sup>-</sup> -распада </p>
				
          <img src="../../static/images/2.png" alt="" class="center-block" width="200px" height="auto">  
	
				  <p>Поток электронов называется <strong>B<sup>-</sup> излучением.</strong> Появление электронов при распаде ядра объясняется тем, что внутри ядра нейтрон превращается в протон с образованием электрона и электронного антинейтрино:</p>
				
          <img src="../../static/images/3.png" alt="" class="center-block" width="200px" height="auto">  
       
				  <p>Объяснение этого вида распада было связано с тремя трудностями: 1) происхождение электрона, т.к. в ядре электронов нет; 2) непрерывность энергетического спектра испускаемых электронов, а также не выполнялся закон сохранения энергии; 3) несохранение спина ядра (закон сохранения собственного момента импульса) при электронном распаде. </p>
				  <p>Последние два затруднения разрешили, предположив, что вместе с элект­роном из ядра испускается еще одна элементарная частица – нейтрино. Впоследствии было открыть, что при электронном распаде испускается не нейтрино, а антинейтрино – античастица нейтрино . Теория электронно­го распада была создана Энрико Ферми в 1934 году, а экспериментально нейтрино было зарегистрировано только в 1956 году. Нейтрино не имеет заряда, массы, не имеет электрический заряд. Ионизирующая способность мала. Проникающая способность огромна (10<sup>18</sup> м в свинце). Поэтому пря­мое наблюдение нейтрино затруднено. Нейтрино и антинейтрино имеют спин. Нейтрино s = ½, антинейтрино s = -½. А также лептонный заряд +1. Непосредственное обнаружение нейтрино стало возможным лишь после появления мощных реакторов, позволяющих получать интенсивные потоки нейтрино.</p>
				  <p>Энергетический спектр бета-частиц является непрерывным, т. е. электроны имеют разные энергии от 0 до Е<sub>max</sub> = 782 кэВ (рисунок 1).</p>
       
          <img src="../../static/images/4.png" alt="" class="center-block" width="200px" height="auto">  
          <p class="text-center">Рисунок 1 - Распределение электронов по энергиям (энергетический спектр)</p><br>
       
				  <p>  Но в одной и той же реакции B<sup>-</sup> -распада должно всегда выделяться одно и то же количество энергии. Если электрон имеет скорость v = 0, то энергия, которая выделилась при распаде, перешла к антинейтрино. И наоборот, если электрон вылетает с максимальной энергией, то антинейтрино имеет энергию Е = 0. Энергия электрона может принимать и различные промежуточные значения. Значит, непрерывный спектр бета-частиц объясняется тем, что при электронном распаде одновременно испускается электрон и антинейтрино, порция энергии на эту пару всегда фиксирована, но перераспределяется между двумя частицами случайным образом и поэтому спектр бета-частиц непрерывный. При этом процессе, как и при других, выполняются все законы сохранения: энергии, заряда, импульса момента импульса в том числе спина и массового числа. </p>
				  <p><strong>Позитронный B<sup>+</sup>-распад</strong> – спонтанное превращение радиоактивного ядра в новое ядро с испусканием позитрона и нейтрино. Позитрон- античастица электрона. Электрический заряд позитрона +1.</p>
     
          <img src="../../static/images/5.png" alt="" class="center-block" width="200px" height="auto">  
      
				  <p>Позитронный B<sup>+</sup> -распад имеет те же свойства и такой же спектр как электронный распад. Внутри ядра протон превращается в нейтрон с образованием позитрона и электронного нейтрино:</p>
		
		      <img src="../../static/images/6.png" alt="" class="center-block" width="200px" height="auto">  		
				
				  <p><strong>Электронный-захват</strong> (К-захват) - процесс, в котором ядро поглощает один из электронов электронной оболочки атома и испускает нейтрино. Обычно электрон захватывается из К-слоя. Электронный захват всегда сопровождается характеристическим рентгеновским излучением. При е-захвате один из протонов ядра превращается в нейтрон, как при позитрон­ном распаде.</p>
			    <p>Схема е-захвата:</p>
				
		      <img src="../../static/images/7.png" alt="" class="center-block" width="200px" height="auto">  	
		
				  <p>Протон превращается в нейтрон, захватывая электрон с К-оболочки.</p>
				
		      <img src="../../static/images/8.png" alt="" class="center-block" width="200px" height="auto">  
	
				  <p>При электронном захвате из ядра вылетает только нейтрино. Исчезновение одного из электронов приводит к переходам электронов с дальних от яд­ра электронных оболочек на ближние, что сопровождается рентгеновским излучением. </p>
				  <p>Отдельные радиоактивные ядра распадаются независимо друг от друга. Поэтому количество ядер dN, распадающихся за время dt, пропорци­онально числу имеющихся ядер N и промежутку времени dt: dN=-λ*N*dt - <strong>закон радиоактивного распада в дифференциальной форме.</strong> Знак минус в уравнении взят для того, чтобы показать, что число материнских ядер уменьшается. Здесь  - постоянная распада - это относительная убыль ядер за единицу времени, т.е. если dt=1, то</p>
				
		      <img src="../../static/images/9.png" alt="" class="center-block" width="200px" height="auto">  
      
				  <p>Постоянная распада связана с периодом полураспада ядер:	</p>
			
		      <img src="../../static/images/10.png" alt="" class="center-block" width="200px" height="auto">  
		
				  <p>где Т<sub>1/2</sub> – <strong>период полураспада</strong>, время, за которое распадается половина исходных ядер. Среди естественных и искусственных радионуклидов встречаются ядра с самыми разными периодами полураспадов от 3*10<sup>-7</sup> с до 5*10<sup>15</sup> лет. Еще одна характеристика ядра – это <strong>среднее время жизни</strong> ядер (t), время, за которое количество ядер уменьшается в е раз:</p>
		
		      <img src="../../static/images/11.png" alt="" class="center-block" width="200px" height="auto">  
		
				  <p><strong>Закон радиоактивного распада в интегральной форме:</strong></p>
		
		      <img src="../../static/images/12.png" alt="" class="center-block" width="200px" height="auto">  
		
				  <p>где е – основание натурального логарифма, е = 2,718; число ядер N, не распавшихся к моменту времени t, пропорционально начальному числу ядер N<sub>0</sub>, и убывает с течением времени по экспоненте. </p>
				  <p>В данной работе рассматривается взаимодействие B<sup>-</sup> - излучения с веществом. Частицы, распространяясь в веществе, взаимодействуют с эле­ктронами и ядрами, в результате состояние вещества и частиц изменяется. При прохождении через вещество излучение ослабляется в результате рассеяния на ядрах, ионизации атомов (взаимодействие с электронами) и неупругих взаимодействий. </p>
				  <p><strong>Закон поглощения излучения веществом:</strong></p>
		
		      <img src="../../static/images/13.png" alt="" class="center-block" width="200px" height="auto">  
		
				  <p>где I – интенсивность излучения на глубине x, I<sub>о</sub> – интенсивность пада­ю­щего излучения, u - коэффициент линейного поглощения.</p>
		
	        <img src="../../static/images/14.png" alt="" class="center-block" width="200px" height="auto">  
				  <p class="text-center">Рисунок-2 Зависимость числа поглощенных частиц от толщины поглотителя</p><br>
				
				  <p>Слой вещества, через который радиоактивное излучение проходит, уменьшаясь по интенсивности в 2 раза, называется<i> слоем половинного пог­лощения</i>. Линейный коэффициент поглощения равен:</p>
      
		      <img src="../../static/images/15.png" alt="" class="center-block" width="200px" height="auto">  
      
				  <p>Физическая величина, численно равная отношению линейного коэффи­циента поглощения μ к плотности ρ, называется массовым коэффициентом поглощения М</p>
      
		      <img src="../../static/images/16.png" alt="" class="center-block" width="200px" height="auto">  
      
				  <p>В ткани организма B-частицы проникают на 10-15 мм, защитой от B-излучения служат тонкие алюминиевые, плексигласовые и др. экраны. Например, слой алюминия 0,4 мм или воды 1,1 мм уменьшают вдвое поток B-частиц.</p>
      
          <h5 class="text-center"><strong>ОПИСАНИЕ АППАРАТУРЫ И МЕТОДА ИЗМЕРЕНИЙ</strong> </h5>
      
				  <p>В настоящее время разработаны и широко применяются разнообраз­ные методы наблюдения и регистрации радиоактивных излучений. В нашей работе мы используем счетчик Гейгера. Счетчик Гейгера относится к ионизационным счетчикам или газоразрядным. </p>
				  <p>Счетчик Гейгера выполнен в виде металлического цилиндра, кото­рый является катодом. В центре с цилиндра вдоль оси цилиндра натянута тонкая проволока – анод ( рисунок 3).</p>
      
          <img src="../../static/images/17.png" alt="" class="center-block" width="200px" height="auto">  
				  <p class="text-center">Рисунок 3-Счетчик Гейгера</p><br>
				
				  <p> Цилиндр заполнен газом под небольшим давлением. К электродам приложено напряжение, близкое к напряжению пробоя, т.е. созданы условия для ударной ионизации газа. Частица (β или γ) влетает в камеру и ионизирует атомы газа, т.е. отрывает электроны от ядер и появляются свободно летящие электроны (отрицательные ионы), а атомы без электрона несут положительный заряд (положительные ионы). На пути полета радиоактивной частицы образуется лавина ионов.</p>
				  <p>В электрическом поле счетчика положительные ионы притягиваются к катоду, а отрицательные - к аноду. Разряд прекращается, как только все ионы нейтрализуются на электродах. Через  счетчик проходит кратковременный импульс тока. Этот импульс усиливается и регистрируется пересчетным устройством радиометра. Счетчик Гейгера регистрирует 100% β - частиц, попадающих в камеру. γ-излучение регистрируется на 5%, а α- частицы не регистрирует, так как они не могут проникнуть через металлическую фольгу. Разрешающая способность счет­чика Гейгера 10-3 – 10-7 с.</p>
		
		      <h5 class="text-center"><strong>ПОРЯДОК ВЫПОЛНЕНИЯ РАБОТЫ</strong> </h5>
		
		      <p><strong>Задание:</strong> Определение линейных и массовых коэффициентов поглощения β – лучей для меди и алюминия.</p>
			
    			<ol>
    				<li> Готовят радиометр к работе, предварительно изучив инструкцию к при­бору.</li>
    				<li> Находят радиоактивный фон (радиацию, не связанную с радиоактив­ным препаратом) N<sub>Ф</sub>. N<sub>Ф</sub> - число импульсов в минуту находят как произве­дение показания счетчика n<sub>Ф</sub> (число импульсов в секунду) на 60 с (N<sub>Ф</sub> = n<sub>Ф</sub>·60 с).</li>
    				<li> Помещают радиоактивный препарат на счетчик Гейгера и определя­ют суммарную радиацию препарата и фона N<sup>*</sup>(N<sup>*</sup> = n*·60 с).</li>
    				<li> Между препаратом и счетчиком Гейгера помещают одну пластину алюминия толщиной d (указана на пластине) и определяют число импульсов в минуту N<sub>1</sub><sup>*</sup>.</li>
    				<li> Затем последовательно увеличиваем число пластин между 5. счетчиком и препаратом на одну. Толщина поглотителя будет равна соответственно 2d, 3d, 4d, ..., и определяют число импульсов в минуту N<sub>2</sub><sup>*</sup>, N<sub>3</sub><sup>*</sup>, N<sub>4</sub><sup>*</sup>, .... Увеличивают толщину поглотителя до тех пор, пока N<sub>n</sub><sup>*</sup> не приблизится к N<sub>Ф</sub>.</li>
    				<li> Результаты записывают в таблицу. </li>
    				<li> Находят интенсивность радиации препарата N<sub>1</sub>, N<sub>2</sub>, N<sub>3</sub>, N<sub>4</sub>, .. N<sub>n</sub> с поправкой на фон N<sub>n</sub> = N<sub>n</sub><sup>*</sup> - N<sub>Ф</sub>.</li>
    				<li> Повторяют все измерения с пластинами из меди. </li>
    				<li> Строят график зависимости N(x) для алюминия и меди в одной сис­теме координат. </li>
    				<li> По экспериментальным кривым находят толщину слоя половинного поглощения x<sub>1/2</sub>, необходимую для уменьшения вдвое начальной интенсивности β – излучения.</li>
    				<li> Находят линейные коэффициенты поглощения для алюминия и меди по формуле u = ln(2) / x<sub>1/2</sub> = 0,693 / x<sub>1/2</sub>. Значения μ представляют в см<sup>-1</sup>.
    				<li>Рассчитывают массовые коэффициенты поглощения в (см<sub>2</sub>·г<sub>-1</sub>) для алюминия и меди по формуле: M = u/p ( ρ<sub>Al</sub> = 2,6 г∙см<sup>-3</sup>, ρ<sub>Cu</sub> = 8,6 г∙см<sup>-3</sup> ).</li>
    		  </ol>

		      <h5 class="text-center"><strong> КОНТРОЛЬНЫЕ ВОПРОСЫ И ЗАДАНИЯ</strong></h5>
		
		
          <ol>
    				<li> Радиоактивность. Виды радиоактивного распада. </li>
    				<li> β – распад. Привести схемы электронного, позитронного распада и е – захвата.</li>
    				<li>Энергетический спектр и распределение энергии между частица­ми, покидающими ядра.</li>
    				<li> Закон радиоактивного распада в дифференциальном и интеграль­ном виде.</li>
    				<li> Основные характеристики β – распада: период полураспада, сре­д­нее время жизни, активность атомных ядер.</li>
    				<li> Граничная энергия, принцип ее определения.</li>
    				<li> Закон поглощения излучения веществом. Половинный слой пог­лощения, линейный и массовый коэффициенты поглощения.</li>
    				<li>Счетчик Гейгера. Какие виды радиоактивного излучения можно измерять счетчиком Гейгера?</li>
    				<li> На чем основано определение процентного содержания калия в солях?</li>
    			</ol>
		
		      <h5 class="text-center"><strong>БИБЛИОГРАФИЧЕСКИЙ СПИСОК</strong></h5>
		
    			<ol>
    				<li> Савельев, И.В. Курс общей физики: в 5 кн. Книга 5/И.В. Савельев. – М.: Наука,  1998. –368 с.</li>
    				<li>  Трофимова, Т.И. Курс физики/Т.И. Трофимова. – М.: Высшая школа, 1999. –542 с.</li>
    				<li>  Детлаф, А.А.  Курс физики/А.А. Детлаф, Б.М. Яворский. – М.: Наука, 1985. –688 с.</li>
    				<li>   Сивухин, Д.В. Атомная и ядерная физика/Д.В. Сивухин. – М.: Физматлит, 2006. –467 с.</li>
    			</ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {
      canvas: {},
      ctx: {}
    }
  }
}
</script>

<style>
p {
  text-indent: 20px;
}
</style>
