<template>
  <div class="container">
    <div class="row">

      <div class="col-12 p-1 mt-2 card">
        <div class="card-body">
          <h4 class="text-success"><strong class="text-dark">ФИО:</strong> {{protocol[5].name}}</h4>
          <h4 class="text-success"><strong class="text-dark">Группа:</strong> {{protocol[5].group}}</h4>
          <p class="text-danger" style="text-indent: 0px;">Ошибки: {{errors + protocol[6].errorsTwoTask}}</p>
        </div>
      </div>

      <div class="col-lg-6 col-12 p-1 mt-2">
        <div class="card">
          <div class="card-body">
            <p class="text-center">{{protocol[6].NameSalt}}</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="">
                    Число <br> пластин <br> n
                  </th>
                  <th scope="">
                    Толщина <br> пластин <br> D, мм
                  </th>
                  <th scope="">
                    Толщина <br> поглотителя x, мм
                  </th>
                  <th scope="">
                    Nф имп./мин
                  </th>
                  <th scope="">
                    N* имп./мин
                  </th>
                  <th scope="">
                    N=(N*-Nф) имп./мин
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(col, i) in Salt.Ng">
                  <td scope="row">{{i}}</td>
                  <td>0.11</td>
                  <td>{{0.11*i}}</td>
                  <td>2.1</td>
                  <td>{{col}}</td>
                  <td>{{Salt.N[i]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 mt-2 p-1">
        <div class="row">
          <div class="col-12" style="position: relative">
            <canvas id="myChart2" style="background-color: white;border: 1px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;"></canvas>
          </div>

          <div class="col-12 mt-2">
            <div class="card">
              <div class="card-body">
                <strong>X<sub>1/2</sub> = </strong> {{protocol[6].X}}
                <br>
                <strong>u = </strong> {{protocol[6].u}}
                <br>
                <strong>M = </strong> {{protocol[6].M}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 p-0 mt-2">
        <button class="btn btn-primary" @click="goToFio()">Назад</button>
        <button class="btn btn-danger" @click="exit()">Закрыть</button>
      </div>
    </div>
  </div>
</template>

<script>
  import gui from 'nw.gui'
  import Chart from 'chart.js'
  export default {
    name: 'protocol',
    data: function () {
      return {
        protocol: [],
        errors: 0,
        Salt: {},
        dataset: []
      }
    },
    mounted () {
      if (this.$parent.protocol[0] !== 'lab52_1.0' || this.$parent.protocol[0] === undefined || this.$parent.protocol[0] === null) {
        alert('Неверный протокол')
        this.$router.push({ path: '/' })
      }
      if (this.$parent.protocol[5].name === undefined) {
        alert('Неверный протокол')
        this.$router.push({ path: '/' })
      }
      this.protocol = this.$parent.protocol
      let self = this
      this.protocol.forEach(function (d) {
        if (d.errors !== undefined) {
          self.errors += d.errors
        }
      })
      this.$parent.datas.forEach(function (d) {
        if (d.name === self.protocol[6].NameSalt) {
          self.Salt = d
        }
      })
      for (let i = 0; i < this.Salt.N.length; i++) {
        this.dataset.push({x: i * 0.11, y: this.Salt.N[i]})
      }
      console.log(this.Salt.N.length)
      this.$nextTick(() => {
        this.getChart()
      })
    },
    methods: {
      exit () {
        gui.App.quit()
      },
      goToFio () {
        this.$router.push({ path: '/' })
      },
      getChart () {
        console.log(this.dataset)
        let ctx = document.getElementById('myChart2')
        let chart = new Chart(ctx, {
          type: 'line',
          data: {
            datasets: [{
              fill: false,
              backgroundColor: 'red',
              borderColor: 'red',
              cubicInterpolationMode: true,
              label: false,
              data: this.dataset
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              xAxes: [{
                type: 'linear',
                position: 'bottom'
              }]
            }
          }
        })
        console.log(chart)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  th {
    vertical-align: middle;
    font-size: 11pt;
    padding: 0;
    text-align: center;
  }
</style>
