<template>
  <div>
    <div class="d-flex flex-wrap mb-3">
      <button class="btn btn-deffault btn-secondary flex-fill" :disabled="N.length != 0" @click="getDataN($parent.$parent.datas[0].N, $parent.$parent.datas[0].name)">{{$parent.$parent.datas[0].name}}</button>
      <button class="btn btn-deffault btn-secondary flex-fill ml-2" :disabled="N.length != 0" @click="getDataN($parent.$parent.datas[3].N, $parent.$parent.datas[3].name)">{{$parent.$parent.datas[3].name}}</button>
    </div>
    <span  v-if="N.length > 0">N</span>
    <div class="row d-flex align-items-end">
      <canvas id="myChart" height="auto" class="col-10"></canvas>
      <span class="col-2" v-if="N.length > 0">X,mm</span>
    </div>
    <p class="text-center" style="font-size: 13px" v-if="NameSalt !== ''">Зависимость числа поглощенных частиц от толщины поглотителя соли {{NameSalt}}</p>
  </div>
</template>

<script>
import Chart from 'chart.js'
export default {
  name: 'ChartSalt',
  data: function () {
    return {
      dataset: [],
      N: [],
      NameSalt: ''
    }
  },
  methods: {
    getDataN (N, Name) {
      this.N = N
      this.NameSalt = Name
      this.$parent.NameSalt = Name
      console.log(this.$parent.NameSalt)
      this.drawChart()
    },
    drawChart () {
      for (let i = 0; i < this.N.length; i++) {
        this.dataset.push({x: i * 0.11, y: this.N[i]})
      }
      let ctx = document.getElementById('myChart')
      let chart = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: [{
            fill: false,
            backgroundColor: 'red',
            borderColor: 'red',
            cubicInterpolationMode: true,
            label: false,
            data: this.dataset
          }]
        },
        options: {
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              type: 'linear',
              position: 'bottom'
            }]
          }
        }
      })
      console.log(chart)
    }
  }
}
</script>

<style scoped>

</style>
