<template>
	<div class="my-2">
    <canvas id="canvas" ref="renderCanvas">canvas</canvas>
    <div class="d-flex">
      <button class="btn btn-danger flex-fill mr-1" :disabled="$parent.ChekedButonCanvas == 0" @click="clear()">Сбросить</button>
      <button class="btn btn-primary flex-fill" @click="getNg()" :disabled="Ng.length < 1 || $parent.ChekedButonCanvas == 1">Запустить</button>
    </div>
  </div>
</template>

<script>
'use scrict'
import Device from '../../../static/device.js'
export default {
  data: function () {
    return {
      canvas: {},
      ctx: {},
      device: {},
      animationID: -1,
      startTime: 0,
      endTime: 5000,
      Ng: [],
      logNg: null, // Костыль
      NumOfPlatesCanvas: 0
    }
  },
  methods: {
    // тут инициализация самых функций
    // Пишешь всё что связано с канвас, обращаться через ref к элементу канвас, но я сделал ctx глобальным this.ctx
    // Пиши тут функции где будет спедоментр этот, я вызов функции этого компонента из родительского я сам скажу как.
    init () {
      this.canvas = this.$refs.renderCanvas
      this.ctx = this.canvas.getContext('2d')
      this.device = new Device(this.canvas, this.ctx)
    },
    startAnimation (Ng, NumOfPlates, NameSalt) {
      this.device.drawAction(Ng, this.endTime, NumOfPlates, NameSalt)
    },
    drawStatic () {
      this.device.draw()
    },
    updateNg () {
      this.logNg = null
      this.Ng = this.$parent.NgForCanvas
      console.log(this.Ng)
      this.NumOfPlatesCanvas = 0
    },
    getNg () { // Костыль
      if (this.Ng.length !== 0) {
        this.logNg = Number(this.Ng.shift())
        this.startAnimation(this.logNg, this.NumOfPlatesCanvas, this.$parent.NameSalt)
        this.NumOfPlatesCanvas++
        this.$parent.ChekedButonCanvas = 1
      } else {
        this.logNg = null
      }
    },
    clear () {
      this.device.clear()
      this.device.draw()
      this.device.reset()
      this.$parent.ChekedButonCanvas = 0
    }
  },
  mounted: function () {
    this.$nextTick(() => {
      this.init()
      this.drawStatic()
    })
    // тут функции при запуске страници которые будут выполняться
  }
}
</script>

<style scoped>
  #canvas {
    width: 100%;
  }
</style>
