<template>
  <div id="app">
    <transition name="fade" appear  mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'app',
  data: function () {
    return {
      name: '',
      group: '',
      protocol: [],
      datas: [
        {
          name: 'KCl',
          check: 0,
          Ng: [5.2, 3.9, 3.4, 3.0, 2.8, 2.5, 2.2],
          N: [3.1, 1.8, 1.3, 0.9, 0.7, 0.4, 0.1],
          errors: 0
        },
        {
          name: 'Kj',
          check: 0,
          Ng: [3.0, 2.6, 2.2],
          N: [0.9, 0.5, 0.1],
          errors: 0
        },
        {
          name: 'KMnO4',
          check: 0,
          Ng: [2.8, 2.2],
          N: [0.7, 0.1],
          errors: 0
        },
        {
          name: 'K2CrO4',
          check: 0,
          Ng: [4.0, 3.6, 3.0, 2.4, 2.2],
          N: [1.9, 1.5, 0.9, 0.3, 0.1],
          errors: 0
        }
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.card {
  transition: all 0.5s;
}
.card-enter, .card-leave-to
/* .card-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: scale(0);
}
.card-enter-to {
  opacity: 1;
  transform: scale(1);
}
.card-leave-active {
  /*position: absolute;*/
}
.card-move {
  opacity: 1;
  transition: all 0.5s;
}
</style>
